/* General styles */
body {
    margin: 0;
    font-family: 'Arial', sans-serif;
    background-color: #5b3920;
    color: #fff;
    text-align: center;
}

header {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: #AF6C3E;
    padding: 10px 20px;
    border-bottom: 7px solid black;
}

.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-inline: 30px;
}

.logo img {
    width: 100px;
    height: 100px;
    max-width: 100%;
    max-height: 100%;
}

.title {
    font-size: 2rem;
    font-weight: bold;
}

nav ul {
    list-style-type: none;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}

nav ul li a:hover {
    text-decoration: none;
}

.section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.textbox {
    flex: 1;
    padding: 20px;
    font-size: 1.2rem;
}

.slideshowbox {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

#slider {
    overflow: hidden;
}

#slider figure {
    position: relative;
    width: 500%;
    animation: 20s slider infinite;
}

#slider figure img {
    float: left;
    width: 20%;
}

@keyframes slider {
    0% {
        left: 0;
    }
    20% {
        left: 0;
    }
    25% {
        left: -100%;
    }
    45% {
        left: -100%;
    }
    50% {
        left: -200%;
    }
    70% {
        left: -200%;
    }
    75% {
        left: -300%;
    }
    95% {
        left: -300%;
    }
    100% {
        left: -400%;
    }
}

#home h1 {
    font-size: 2.5rem;
    margin: 20px;
}

#menu {
    padding: 30px 20px;
    background-color: #3e2723;
}

.menu-section{
    justify-content: center;
}

.menu-grid {
    display: grid;
    grid-template-columns: repeat(3, 255px);
    grid-gap: 20px;
}

.menu-item {
    background-color: #6d4c41;
    border-radius: 8px;
    padding: 10px;
    text-align: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    align-items: center; 
    height: 400px;
    cursor: pointer; 
}

.menu-item img {
    width: 100%;
    height: 225px; 
    object-fit: cover; 
    border-radius: 8px;
}

.menu-item h4 {
    margin: 10px 0;
    font-size: 1.2rem;
}

.menu-item button {
    background-color: #AF6C3E;
    border: none;
    color: white;
    padding: 10px 20px;
    font-size: 1rem;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.menu-item button:hover {
    background-color: #8e572e;
}

.menu-section form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.input-group {
    position: relative;
    margin-bottom: 20px;
    width: 100%;
}

.input-group i {
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    color: #AF6C3E;
}

.input-group input {
    width: 100%;
    padding: 10px 40px;
    border: 2px solid #AF6C3E;
    border-radius: 5px;
    font-size: 1rem;
    color: #333;
    background-color: #fff;
}

.input-group input::placeholder {
    color: #999;
}

.menu-section button {
    background-color: #AF6C3E;
    border: none;
    color: white;
    padding: 10px 20px;
    font-size: 1.2rem;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    margin-top: 20px;
}

.menu-section button:hover {
    background-color: #8e572e;
}

footer {
    background-color: #AF6C3E;
    padding: 10px 0;
    margin-top: 20px;
    border-top: 7px solid black;
    border-bottom: 7px solid black;
}

.contact {
    display: flex;
    justify-content: space-evenly;
    margin: auto;
    font-size: xx-large;
}

.contact a:hover {
    transform: scale(1.5);
}

.container {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container form {
    width: 98%;
    max-width: 500px;
    padding: 50px 30px 20px;
    border-radius: 30px;
    background: #df9564;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.5);
}

.fa-mug-saucer {
    position: relative;
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #AF6C3E;
    font-size: 26px;
    padding: 20px;
    border-radius: 50%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.input-group {
    width: 100%;
    display:flex;
    align-items: center;
    margin: 10px 0;
    position: relative;
}

.input-group label {
    flex-basis: 28%;
}

.input-group input, .input-group textarea {
    flex-basis: 68%;
    background: transparent;
    border: 0;
    outline: 0;
    padding: 10px 0;
    border-bottom: 1px solid #AF6C3E;
    font-size: 16px;
    color:black;
}

.input-group input::placeholder,
.input-group textarea::placeholder {
    font-size: 14px; 
    color: #3e2723; 
}

form button {
    background-color: #AF6C3E;
    color: white;
    border-radius: 30px;
    border: 1px solid rgba(255, 255, 255, 0.7);
    padding: 10px 40px;
    outline: 0;
    cursor: pointer;
    display: block;
    margin: 30px auto 10px;
}

.input-group span {
    position:absolute;
    bottom: 12px;
    right: 17px;
    font-size: 14px;
    color: rgb(216, 0, 0);
}

#submit-error {
    color: rgb(216, 0, 0);
}

.input-group span i {
    color:rgb(52, 207, 119);
    font-size: 18px;
}